.main-header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  color: #fff;
  background-color: #00b31b;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-title {
  font-size: 28px;
}

.write-tweet {
  font-size: 22px;
}

.write-tweet > span {
  padding-bottom: 5px;
}