.main-header {
  height: 450px;
  width: 100%;
  color: #fff;
  padding: 110px 0 20px 0;
  background-color: #213d00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > div > h2 {
  margin-top: 0px;
}
