/* tablets  */
@media only screen and (min-width: 768px) {
  
}
/* Laptops  and larger */
@media only screen and (min-width: 992px) {
  body {
    padding-top: 90px;
  }

  #navbar {
    background-color: #4056a1;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
  
  #large-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }

  .main-header {
    width: 28%;
    height: 70%;
    border-radius: 20%;
    padding: 0;
    position: fixed;
    top: 140px;
  }

  #container {
    padding-top: 35px;
    margin-right: 0;
    width: 60%;
  }
  
}
