#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-div {
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  background-color: #4056A1;
  color: #fff;
  padding: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title{
  font-family: 'Bungee', cursive, sans-serif;
}

.write-tweet {
  padding-top: 0.4em;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.down-arrow {
  text-align: center;
  color: red;
}


