#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1em;
  border: none;
  background-color: #213d00f9;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #fff;
  padding: 1.3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.nav-title{
  font-family: 'Bungee', cursive, sans-serif;
}

.nav-btn, .nav-btn2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
  border: none;
  background: none;
  cursor: pointer;
}


.arrow {
  color: #ed522b;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.arrow:hover {
  transform: translateY(5px);
}

.hide {
  display: none;
}

.transparent {
  opacity: 0.3;
}