.new-tweet {
  margin-bottom: 30px;
}

 #tweet-text {
  margin: 0 auto;
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
  margin-bottom: 10px;
  resize: none;
  outline: none;
}

.submit-tweet {
  margin-bottom: 20px;
}

button {
  background-color: #4056A1;
  color: #fff;
}

.counter {
  float: right;
}

.negative-count {
  color: red;
}

